@page
@model WebApp_AIK2_Pluhar.Pages.DataModel
@{
    ViewData["Title"] = "Data";
}

<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>Value</th>
            <th>Success</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DataList)
        {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Created</td>
                    <td>@item.Value</td>
                    <td>@item.Success</td>
                </tr>
        }
    </tbody>
</table>
